* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*header, barra de navegacion*/
header {
    background-color: #4F709C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}
#logo {
    font-family: roboto;
    font-size: 14px;
}
.log {
    display: flex;
    align-items: center;
}
header .list li {
    display: flex;
    display: inline-block;
}
header .list li:hover {
    transform: scale(1.2);
}
ul li a {
    text-decoration: none;
    color: black;
    padding: 16px;
}


/*header, main, contenido principal*/

main {
    height: 100vh;
    width: 100%;
    background-image: url(../img/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
h2, h3 {
    color: white;
}
p{
    color: white;
}
section p{
    color: white;
}
.cliente {
    width: 360px;
    height: 360px;
    background-color: #424f5f;
    align-content: center;
    padding: 5px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.cliente2 {
    width: 360px;
    height: 360px;
    background-color: #424f5f;
    align-content: center;
    padding: 5px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.gamer {
    width: 300px;
    height: 300px;
}
.happy {
    width: 300px;
    height: 300px;
}
.product {
    width: 200px;
}


/*footer*/
footer {
    background-color: #7a7b7c;
    text-align: center;
    padding: 1px;
}
footer p a{
    text-decoration: none;
}