* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto;
}
@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

/*header, barra de navegacion*/
header {
    background-color: #4F709C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
#logo {
    font-family: roboto;
    font-size: 14px;
}
.log {
    display: flex;
    align-items: center;
}
header .list li {
    display: flex;
    display: inline-flex;
}
header .list li:hover {
    transform: scale(1.2);
}
ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}


/*body, main, contenido principal*/
body {
    display: grid;
    width: 100%;
    height: 100%;
    background-image: url(../img/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
main h2, h3, p{
    text-align: center;
    color: white;
}
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

/*cards de clientes*/
.cliente {
    width: 280px;
    height: 280px;
    background: rgba(255, 255, 255, 0.192);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-content: center;
    padding: 5px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
/*imgs de index*/
.gamer, .happy, .ruso{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

/*cards de productos*/
.cards {
    width: 280px;
    height: 280px;
    background: rgba(255, 255, 255, 0.192);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-content: center;
    padding: 5px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.cards p {
    margin-top: 10px;
}
/*boton de cards*/
button {
    padding: 3px;
    background-color: #000000;
    color: yellow ;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    scale: 1.2;
}
/*productos*/
.product {
    width: 160px;
    height: 160px;
}


/*footer*/
footer {
    background-color: rgba(255, 255, 255, 0.192);
    text-align: center;
    padding: 1px;
    width: 100%;
}
footer p a{
    font-size: 17px;
    text-decoration: none;
    color: #000000;
}