* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto;
}
@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

/*HEADER, BARRA DE NAVEGACION*/
header {
    background-color: #4F709C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    grid-area: header;
}
#logo {
    font-family: roboto;
    font-size: 14px;
}
.log {
    display: flex;
    align-items: center;
}
.navmovil {
    grid-area: nav;
    background-color: #617591;
    text-align: center;
    display: none;
}
header .list li {
    display: flex;
    display: inline-flex;
}
header .list li:hover {
    transform: scale(1.2);
}
ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}


/*BODY, MAIN, CONTENIDO PRINCIPAL*/
body {
    display: grid;
    width: 100%;
    height: 100%;
    background-image: url(../img/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer"
    ;
}
main {
    grid-area: main;
}
main h2, h3, p{
    text-align: center;
    color: white;
}
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

/*CARDS DE CLIENTES*/
.cliente {
    width: 280px;
    height: 280px;
    background: rgba(255, 255, 255, 0.192);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-content: center;
    padding: 5px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
/*IMGS DE INDEX*/
.gamer, .happy, .ruso{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

/*CARDS DE PRODUCTOS*/
.cards {
    width: 280px;
    height: 280px;
    background: rgba(255, 255, 255, 0.192);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-content: center;
    padding: 5px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.cards p {
    margin-top: 10px;
}
/*BOTON DE CARDS*/
button {
    padding: 3px;
    background-color: #000000;
    color: yellow ;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    scale: 1.2;
}
/*PRODUCTOS*/
.product {
    width: 160px;
    height: 160px;
}


/*FOOTER*/
footer {
    background-color: rgba(255, 255, 255, 0.192);
    text-align: center;
    padding: 1px;
    width: 100%;
    grid-area: footer;
}
footer p a{
    font-size: 17px;
    text-decoration: none;
    color: #000000;
}


/*MOVIL RESPONSIVE*/
@media (max-width: 576px){
    body {
        grid-area: 
        "header"
        "nav"
        "main"
        "footer"
        ;
    }
    section {
        grid-template-columns: 1fr;
    }
    footer {
        max-height: 60px;
    }
    .navmovil {
        display: block;
    }
    .list {
        display: none;
    }
}