

/*BODY, MAIN, CONTENIDO PRINCIPAL*/
body {
    display: grid;
    width: 100%;
    height: 100%;
    background-image: url(../img/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer"
    ;
    main {
        grid-area: main;
        h2, h3, p{
            text-align: center;
            color: white;
        }
        .container {
            .row{
                justify-content: center;
                    /*CARDS DE CLIENTES*/
                    .cliente {
                    width: 280px;
                    height: 280px;
                    @extend .efecto-vidrio;
                    align-content: center;
                    padding: 5px;
                    margin: 7px;
                    @include flex(flex,center ,center );
                    flex-direction: column;
                    border-radius: 6px;
                    /*IMGS DE INDEX*/
                    .gamer, .happy, .ruso{
                    width: 200px;
                    height: 200px;
                    border-radius: 5px;
                    }
                }
                /*ESTILOS DE TESTIMONIOS*/
                .testimonios {
                    width: 400px;
                    height: 550px;
                    background-image: linear-gradient(to top right, rgba(255, 255, 0, 0.486), rgba(255, 0, 0, 0.479) );
                    align-content: center;
                    padding: 5px;
                    margin: 7px;
                    @include flex(flex,center,center );
                    flex-direction: column;
                    border-radius: 6px;
                    img {
                        width: 230px;
                    }
                }
                .redes {
                    width: 100%;
                    height: 350px;
                    background-image: linear-gradient(to top right, rgba(0, 255, 242, 0.856), rgba(255, 0, 0, 0.349) );
                    align-content: center;
                    padding: 5px;
                    margin: 7px;
                    @include flex(flex,center,center );
                    flex-direction: column;
                    border-radius: 6px;
                }
                /*CARDS DE PRODUCTOS*/
                .cards {
                    width: 280px;
                    height: 280px;
                    @extend .efecto-vidrio;
                    align-content: center;
                    padding: 5px;
                    margin: 7px;
                    @include flex(flex,center, center );
                    flex-direction: column;
                    border-radius: 6px;
                    /*PRODUCTOS*/
                        .product {
                        width: 160px;
                        height: 160px;
                    }
                    p {
                        margin-top: 10px;
                    }
                    /*BOTON DE CARDS*/
                        button {
                        padding: 3px;
                        background-color: $color-principal;
                        color: white ;
                        border-radius: 10px;
                        cursor: pointer;
                        margin-top: 10px;
                            &:hover {
                                scale: 1.2;
                                transition: 600ms;
                            }
                    }
                }
            }
        }
    }
}



