/*FOOTER*/
footer {
    background-color: map-get($map: $fondos , $key:primero );
    text-align: center;
    padding: 1px;
    width: 100%;
    grid-area: footer;
    p {
        a {
            font-size: 17px;
            text-decoration: none;
            color: #000000;
        }
    }
}
