/*HEADER, BARRA DE NAVEGACION*/
header {
    background-color: #4F709C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    grid-area: header;
        .log {
        display: flex;
        align-items: center;
            #logo {
        font-family: roboto;
        font-size: 14px;
        }
    }
    nav {
        .list {
        display: flex;
        list-style-type: none;
            li {
                &:hover {
                transform: scale(1.05); 
                transition: 600ms;
                    a {
                    color: aliceblue;
                }
            }
        }
    }
    }
}


.navmovil {
    grid-area: nav;
    background-color: #617591;
    text-align: center;
    display: none;
        a{
        color: aqua;
        background-color: black;
    }
} 