/*HEADER, BARRA DE NAVEGACION*/
header {
    background-color: $color-principal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    grid-area: header;
            #logo {
        font-family: roboto;
        font-size: 14px;
        color: azure;
        }
    }




