/*MOVIL RESPONSIVE*/
@media (max-width: 576px){
    header {
        nav {
            display: none;
        }
    }
    body {
        grid-area: 
        "header"
        "nav"
        "main"
        "footer"
        ;
    }
}